@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
    @apply block md:grid;
    grid-template-columns: .4fr .6fr;
}

select,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
textarea {
    @apply block w-full mb-4 rounded-full;
    @apply border p-2 border-gray-300 bg-gray-200;
}
select:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
textarea:disabled {
    @apply bg-gray-300 border-0 cursor-not-allowed text-gray-500;
}
input:active,
input:target,
input:focus,
input:focus-visible {
    @apply border-primary
}
textarea {
    @apply rounded-2xl
}

label {
    @apply text-gray-500 text-sm mr-1
}

button, .button{
    @apply flex justify-center gap-2 w-full text-gray-700 font-semibold;
    @apply border border-gray-300 rounded-full px-6 py-2;
}

button[type="submit"], .submit {
    @apply border-primary bg-primary text-white;
}
button[type="submit"]:disabled, .submit:disabled {
    @apply cursor-not-allowed bg-red-400;
}

div.success {
    @apply bg-green-100 border-green-300
}
div.warning {
    @apply bg-orange-100 border-orange-300
}
div.error {
    @apply bg-red-100 border-red-300
}

div.tabs > * {
    @apply bg-gray-300 text-gray-700 rounded-full py-2 px-4
}
div.tabs > *.active {
    @apply bg-primary text-white
}